@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.woff2') format('woff2');
  }
}

@include font-face('Outfit', '../fonts/Outfit-Thin', 100);
@include font-face('Outfit', '../fonts/Outfit-ExtraLight', 200);
@include font-face('Outfit', '../fonts/Outfit-Light', 300);
@include font-face('Outfit', '../fonts/Outfit-Regular', 400);
@include font-face('Outfit', '../fonts/Outfit-Medium', 500);
@include font-face('Outfit', '../fonts/Outfit-SemiBold', 600);
@include font-face('Outfit', '../fonts/Outfit-Bold', 700);
@include font-face('Outfit', '../fonts/Outfit-ExtraBold', 800);
@include font-face('Outfit', '../fonts/Outfit-Black', 900);
