@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import '~react-redux-toastr/src/styles/index';

:root {
  --primary-color: #e30b13;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-gray-900 text-sm 2xl:text-base p-0 m-0;
  font-family: 'Outfit', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="file"], input[type="file"]::-webkit-file-upload-button {
  @apply cursor-pointer focus:outline-none;
}

input:focus {
  box-shadow: none !important;
}

.admin-form {
  @apply w-1/2 mt-12;
}

// Slide animation
.slide-animation-enter {
  opacity: 0;
  transform: scale(.9);
}
.slide-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-animation-exit {
  opacity: 1;
}
.slide-animation-exit-active {
  opacity: 0;
  transform: scale(.9);
  transition: opacity 300ms, transform 300ms;
}

.custom-scroll {
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    @apply w-1.5 h-1;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary bg-opacity-50;
  }
  &::-webkit-scrollbar-track {
    @apply bg-primary bg-opacity-10;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      @apply bg-opacity-60;
    }
    &::-webkit-scrollbar-track {}
  }
}

.hide-scroll {
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    @apply w-0 h-0;
  }
}

//@media (prefers-color-scheme: dark) {
//
//  body {
//    color: white;
//    background: black;
//  }
//
//}
